.pop-up {
  width: 100%;
  position: fixed;
  z-index: 15;
  margin-inline: auto;
}

.pop-show {
  max-width: 600px;
  height: 500px;
  background-color: var(--global--accent--Color);
  color: black;
  top: 15svh;
  left: 0;
  right: 0;
  margin-inline: auto;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.back-cross {
  width: 20px;
  position: sticky;
  align-self: flex-start;
  top: 10px;
  left: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.back-cross:hover {
  scale: 1.05;
}

.drink-img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  margin-left: 20px;
  object-fit: cover;
}

.content-con {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.drink-div-hide {
  display: none;
}

.drink-div {
  display: flex;
  align-items: center;
}

.pop-h4,
.pop-h4 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-block: 40px 15px;
}
.pop-h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-bottom: 10px;
}
.pop-p {
  font-family: "Source Serif 4";
  margin-bottom: 5px;
}

@media screen and (width <= 900px) {
  .drink-div {
    flex-direction: column;
  }
  .pop-show {
    justify-content: center;
    width: 85%;
  }

  .pop-h4 {
    margin-block: 15px;
  }

  .content-con {
    padding: 5px 35px;
  }
}
