.pop-up {
  position: fixed;
  z-index: 15;
}

.pop-show {
  width: 70%;
  height: 500px;
  background-color: var(--global--accent--Color);
  color: black;
  top: 15svh;
  left: 10vw;
  overflow: scroll;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.back-cross {
  width: 20px;
  position: sticky;
  align-self: flex-start;
  top: 10px;
  left: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.back-cross:hover {
  scale: 1.05;
}

.drink-img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  margin-left: 20px;
  object-fit: cover;
}

.content-con {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.drink-div-hide {
  display: none;
}

.drink-div {
  display: flex;
  align-items: center;
}

.pop-h4,
.pop-h4 {
  font-size: 28px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-bottom: 20px;
}
.pop-h5 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Playfair Display";
  margin-bottom: 10px;
}
.pop-p {
  font-family: "Source Serif 4";
  margin-bottom: 5px;
}

@media screen and (width <= 900px) {
  .drink-div {
    flex-direction: column;
  }
  .pop-show {
    justify-content: center;
    width: 65%;
    left: 30%;
  }
  .drink-img {
    margin-left: 0;
    margin-top: 240px;
  }
  .content-con {
    padding-inline: 15%;
  }
}
