.home-loader {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s; /* Firefox */
  -webkit-animation: fadein 2.5s; /* Safari and Chrome */
  -o-animation: fadein 2.5s; /* Opera */
}

/* Grid Styling */
.filter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 37%);
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.filter-grid a {
  text-decoration: none;
}

/* Kachel Styling & Schrift */
.filter {
  border-radius: 20px;
  color: var(--global--accent--Color);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  position: relative;
}
.filter img {
  width: 220px;
  position: absolute;
  border-radius: 20px;
  right: 7%;
}
.filter h2 {
  font-size: 50px;
  font-family: 'Playfair Display';
  font-weight: 900;
}
.filter h3 {
  font-size: 28px;
  font-family: 'Source Serif 4';
  font-weight: 400;
  max-width: 15ch;
}
.filter p {
  font-size: 16px;
  font-family: 'Source Serif 4';
  font-weight: 400;
}

/* Background-Color der Kacheln */
.background-1 {
  background-color: #29343e;
}
.background-2 {
  background-color: #6f4f38;
}
.background-3 {
  background-color: #550f05;
}
.background-4 {
  background-color: #5f442b;
}
.background-5 {
  background-color: #574b1f;
}

.background-6 {
  background-color: #28280b;
}
.box-question .question {
  font-size: 300px;
  position: absolute;
  right: 10%;
  transform: rotate(10deg);
}
.box-question {
  cursor: pointer;
}

.up {
  width: 50px;
  position: sticky;
  top: 90%;
  left: 90%;
  margin-right: 10px;
  z-index: 10;
}

@media screen and (width <= 1350px) {
  .filter-grid {
    grid-template-columns: repeat(1, 90%);
  }
  .filter {
    height: 22rem;
    align-items: center;
    padding-left: 0rem;
  }
  .filter img {
    width: 230px;
    position: static;
  }
  .background-2 .question {
    font-size: 200px;
    position: static;
  }
  .box-question {
    flex-direction: row;
  }
  .filter h2 {
    padding-bottom: 20px;
    font-size: 40px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
