.input-show {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  box-shadow: 0 0 30px 10px rgba(255, 227, 232, 0.314);
}

.input-hide {
  /* pointer-events: none; */
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 30px 10px rgba(255, 227, 232, 0.314);
}

.suggestions {
  width: 250px;
  height: 0px;
  transition: 0s;
  position: relative;
  background-color: #ffe3e8;
  overflow: hidden;
}

.show {
  width: 350px;
  height: 150px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.2s;
  box-shadow: 0 10px 20px 1px #ffe3e81c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 6px 18px;
  overflow: scroll;
  z-index: 5;
  box-shadow: 0 0 30px 10px rgba(255, 227, 232, 0.314);
}
.suggestions p {
  font-family: "Roboto";
  text-decoration: none;
  color: black;
}

.link-search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 4px;
  padding: 4px;
}

.link-search:hover {
  scale: 1.01;
}

.link-search img {
  width: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.link-search {
  text-decoration: none;
}

.link-search p {
  color: #ffe3e8;
}

.wrapper-light .input-hide,
.wrapper-light .input-show {
  background-color: black;
  color: var(--global--accent--Color);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.314);
}
.wrapper-light .suggestions {
  background-color: black;
}
.wrapper-light .suggestions p {
  color: black;
}
.wrapper-light .link-search {
  background-color: var(--global--accent--Color);
}

.wrapper-light .show {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.314);
}
