header {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header h1 {
  color: #ffe3e8;
  font-size: 52px;
  font-weight: bold;
  font-family: "Playfair Display";
  letter-spacing: 0.4px;
  padding-block: 0 10px;
}

.hero-p {
  color: #ffe3e8;
  font-family: "Source Serif 4";
  margin-bottom: 60px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header input {
  width: 350px;
  padding: 12px;
  border: none;
  font-family: "Source Serif 4";
  outline: none;
  background-color: #ffe3e8;
}

nav {
  padding: 25px;
}

.hero {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-con {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.arrow-div {
  align-self: center;
  padding-bottom: 50px;
}

.wrapper-light header h1 {
  color: black;
}
.wrapper-light .hero-p {
  color: black;
}
.wrapper-light header input {
  color: black;
}

@media screen and (width <= 720px) {
  .img-con {
    display: none;
  }
}
