footer {
  --p-max-width: 120ch;
  background-color: black;
  color: white;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--global--accent--Color);
}

footer p {
  line-height: 30px;
  font-size: 18px;
  font-family: "Source Serif 4";
}

footer h3 {
  font-family: "Playfair Display";
  font-size: 25px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1350px) {
  footer {
    padding: 50px 5px 10px 5px;
  }
}
