.bg {
  background-color: black;
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  background-color: black;
}

.bg-light {
  background-color: var(--global--accent--Color);
}

.wrapper-light {
  max-width: 1440px;
  margin-inline: auto;
  background-color: var(--global--accent--Color);
}
