nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Playfair Display';
  font-size: 17px;
  font-weight: 700;
  color: var(--global--accent--Color);
}

.wrapper-light .logo {
  color: black;
}
