.add-recipe {
  background-color: black;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  padding: 10px 100px;
}
.add-recipe-wrapper h3 {
  color: white;
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.add-recipe button {
  background-color: #4d6479;
  color: #ffe3e8;
  border: none;
  border-radius: 5px;
}

.add-recipe form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
}
.add-recipe form input,
select,
textarea {
  background-color: var(--global--accent--Color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}
.add-recipe input::placeholder {
  text-align: left;
  color: black;
}
.add-recipe textarea::placeholder {
  text-align: left;
  color: black;
}

.show-form {
  color: white;
  display: flex;
  align-items: center;
}

.hide-form {
  display: none !important;
}

.hide-new-recipe {
  display: none !important;
}
.added-new-recipe {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}
.added-new-recipe h3 {
  font-size: 20px;
}
.added-new-recipe img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.show-recipe {
  color: white;
  display: flex;
}

.recipe-box {
  background-color: rgb(126, 123, 123);
  padding: 10px;
}

.img-center {
  margin: auto;
  height: 400px;
}
